.contactListItemBtn {
  margin: 10px; 
  min-width: 80px;
  height: 30px;
  margin: 20px 100px 0px 100px;
  display: inline-block;
  color: #fff;
  background-color: #230258;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}
.contactListItem {
list-style: none;
font-size: 16px;
font-style: normal;
}